---
layout: default
---
<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li><a href="/sfd2013/">Home</a></li>
        <li><a href="/sfd2013/archieves.html">Archieves</a></li>
        <li><a href="/sfd2013/atom.xml">Atom</a></li>
    </ul>
</div>
<article class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    {{ content }}
    <nav class="pagination-link">
        {% if page.previous %}
        <a class="prev" href="{{ site.url }}{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
        {% endif %}
        {% if page.next %}
        <a class="next" href="{{ site.url }}{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
        {% endif %}
     </nav>
     <div id="disqus_thread"></div>
</article>
